@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    color: #2E434D;
    overflow-x:hidden;
}

.modal-box{
    max-width: 60%;
    padding: 2rem;
    /* background-color: #2E434D; */
}
.modal-action{
    margin-top: 1rem;
    justify-content: start;
}
.aspect-square {
    aspect-ratio: 1 / 1;
  }
  
  .btt-line{
    border: 2px solid #d04e54;
    color: #d04e54;
    padding: 1rem 2rem;
    border-radius: 3px;
    transition: all ease-in-out .3s;
  }
  
  .btt-line:hover{
    background-color: #d04e54;
    color: #f6f6f6;
    transform: scale(1.05);

  }

  /* carrousel animation */
  
  .slide-carrousel{
    white-space: nowrap;
    animation: 10s slide infinite linear;
  }

  @keyframes slide{
    from{
        transform: translateX(0);
    } to{
        transform: translateX(-100%);
    }
  }

 